* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Questrial, sans-serif;
}

.hero-bg {
    padding: 32px;
    height: 100vh;
    background-color: #F9F9F9;
}

.hero-bg > .hero-container {
    background: url(../../assets/images/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 65%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 28px;
    border-radius: 30px;
}

.hero-container > .coming-soon {
    padding: 8px;
    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: #D6F284;
    border-radius: 35px;
}

.hero-container > .coming-soon img {
    width: 21.142578125px;
    height: 21.142578125px;
}

.coming-soon span {
    font-size: 20px;
}

.hero-container .hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
    text-align: center;
    color: #FFFFFF;
}

.hero-text > .large-text {
    font-size: 102.85px;
    width: 880px;
    line-height: 97px;
}

.hero-text .small-text {
    font-size: 24px;
    width: 506px;
    line-height: 32px;
}

.hero-container .input-container {
    background-color: #fff;
    padding: 9px 10px 9px 20px;
    border-radius: 72px;
}

.input-container input {
    border: none;
    height: 43px;
}

.input-container .cta-btn {
    padding: 12px 16px;
    background-color: #D6F284;
    border-radius: 60px;
    border: none;
    cursor: pointer;
}


/* ---- Mobile Responsiveness ----- */

@media (max-width: 768px) {
    .hero-bg {
    padding: 16px;
    height: 100vh;
    background-color: #F9F9F9;
    }
    .hero-bg > .hero-container {
        height: 95%;
    }

    .hero-container .hero-text {
        text-align: center;
    }

    .hero-text > .large-text {
    font-size: 38px;
    line-height: 36.93px;
    width: 316px;
    letter-spacing: -3%;

    }

    .hero-text > .small-text {
    font-size: 14px;
    width: 266px;
    line-height: 19px;

    }

    .hero-container > .coming-soon {
        padding: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .hero-container > .coming-soon img {
    width: 18px;
    height: 18px;
    }
    .coming-soon span {
        font-size: 12px;
    }

    .input-container .cta-btn {
        font-size: 11.67px;
    }

    .input-container input {
        height: 31.498733520507812px;
        margin-left: 10px;
    }

    .hero-container .input-container {
        padding: 6.56px 7.29px;
    }
}