.text-content {
    font-size: 54.55px;
    width: 100%;
    background-color: #F9F9F9;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    padding: 55px;
}
.text-content > span {
    width: 62%;
    color: #07170E;
    line-height: 64px;
}




/* ---- Mobile Responsiveness ----- */

@media (max-width: 768px) {
    .text-content {
        padding: 25px;
    }

    .text-content > span {
        font-size: 22.97px;
        line-height: 27.28px;
        width: 600px;
    }
}