.nav-container {
  display: flex;
  width: 100%;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
  position: fixed;
  margin-top: 4%;
  z-index: 100;
}

.nav-container .nav-logo-container > a {
    position: relative;
    display: flex;
    justify-content: center;
    width: 174px;
    padding: 11.07px 15.09px;
    background-color: #FFFFFFB2;
    border-radius: 112.66px;
    gap: 10px;
    border: 0.3px solid #434343;
    backdrop-filter: blur(15px);
    cursor: pointer;
    text-decoration: none;
}

.nav-logo-container img {
    width: 119.99990844726562px;
    height: 36.01435470581055px;
}

.nav-container .nav-link-container {
    background-color: #FFFFFFB2;
    color: #07170E;
    border: 0.3px solid #434343;
    padding: 11px 12px;
    border-radius: 30px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.nav-link-container a {
    padding: 14px 12px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    color: #07170E;
    text-decoration: none;
    border-radius: 30px;
    transition: background-color .3s ease-out;
}

.nav-link-container a:hover {
    background-color: #F9F9F9;
}

.cta-btn {
    padding: 12px 11px;
    background-color: #D6F284;
    border-radius: 60px;
    border: none;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    transition: background-color .3s ease-out;
}

.cta-btn:hover {
    background-color: #07170E !important;
    color: #D6F284;
}


/* ---- Mobile Responsiveness ----- */

@media (max-width: 768px) {

    .general-container {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        margin-top: 10%;
        z-index: 10;
    }
    .nav-container {
        display: flex;
        justify-content: space-between;
        width: 88%;
        height: 49.555023193359375px;
        background-color: #FFFFFFCC;
        border-radius: 50px 50px;
        padding: 30px 10px;
        top: 1.8%;
        backdrop-filter: blur(20px);
    }

    .nav-container .nav-link-container a {
        display: none;
    }

    
    .nav-container .nav-link-container {
        padding: 0;
    }

    .nav-container .nav-link-container .cta-btn {
        display: inline;
        font-size: 12px;
        border: unset;
    }

    .nav-container .nav-logo-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 78.98565673828125px;
        height: 23.705209732055664px;
    }

    .nav-container .nav-logo-container > a {
        background: transparent !important;
        border: none !important;
        backdrop-filter: none !important;
        box-shadow: none !important;
        padding: 0 !important;
    }

    .nav-logo-container img {
    width: 78.98565673828125px;
    height: 26.705209732055664px;
    }
}